/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  padding: 0px;
}

.MuiDataGrid-filler {
  display: none !important
}

.text-bold {
  font-weight: bold !important;
}